<template>
  <div>
    <h1>Mountains({{ mountainsNumber }})</h1>
  </div>
</template>
<script>
import Vue from 'vue'

export default Vue.extend({
  name: 'CounterNoClassBased',
  components: {},
  props: {
    mountainsNumber: {
      type: Number,
      default: 0
    }
  }
})
</script>
