<template>
  <div>
    <h1>Mountains({{ mountainsNumber }})</h1>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import { Prop, Component } from 'nuxt-property-decorator'

@Component<Counter>({
  name: 'Counter'
})
export default class Counter extends Vue {
  @Prop({ type: Number, default: 0 })
  mountainsNumber!: number
}
</script>
