<template>
  <v-card>
    <v-row>
      <v-col>
        <h1>{{ mountain.title }}</h1>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="6">
        {{ mountain.description }}
      </v-col>
      <v-col cols="6">
        <v-img :src="mountain.image" max-height="200" />
      </v-col>
    </v-row>
  </v-card>
</template>
<script lang="ts">
import Vue from 'vue'
import { Component, Prop } from 'nuxt-property-decorator'

@Component<ItemDetails>({
  name: 'ItemDetails'
})
export default class ItemDetails extends Vue {
  @Prop({ default: { }, type: Object })
  mountain!: Object
}
</script>
