<template>
  <li
    v-if="mountain.title"
    v-show="isVisible"
  >
    {{ mountain.title }}
  </li>
</template>
<script lang="ts">
import Vue from 'vue'
import { Component, Prop } from 'nuxt-property-decorator'

@Component<Item>({
  name: 'Item'
})
export default class Item extends Vue {
  @Prop({ type: Object, required: true })
  mountain!: { title: string, visible: boolean }

  get isVisible () : boolean {
    return this.mountain.title.length > 10
  }
}
</script>
