<template>
  <div>
    <ul v-if="mountains.length">
      <item v-for="mountain in mountains" :key="mountain.title" :mountain="mountain" />
    </ul>
    <h1 v-else>
      No mountains found
    </h1>
  </div>
</template>
<script lang="ts">
import Vue from 'vue'
import { Component, Prop } from 'nuxt-property-decorator'
import Item from '~/components/Item.vue'

@Component<ItemsList>({
  name: 'ItemsList',
  components: {
    Item
  }
})
export default class ItemsList extends Vue {
  @Prop({ default: [], type: Array })
  mountains!: Array<{ title: string, visible: boolean }>
}
</script>
