<template>
  <v-app dark>
    <v-main>
      <v-container>
        <Nuxt />
      </v-container>
      <v-footer>
        <v-container>
          <span>Training with made with ❤️ {{ new Date().getFullYear() }}</span>
        </v-container>
      </v-footer>
    </v-main>
  </v-app>
</template>

<script>
export default {
}
</script>
