<template>
  <v-row>
    <v-col class="text-center">
      <counter :mountains-number="mountains.length" />
      <items-list :mountains="mountains" />
    </v-col>
  </v-row>
</template>

<script lang="ts">
import Vue from 'vue'
import { Component } from 'nuxt-property-decorator'
import Counter from '~/components/Counter.vue'
import ItemsList from '~/components/ItemsList.vue'

@Component<IndexPage>({
  components: {
    Counter,
    ItemsList
  }
})
export default class IndexPage extends Vue {
  // Data attribute
  mountains: Array<any> = []

  async asyncData () {
    const mountains = await fetch(
      'https://api.nuxtjs.dev/mountains'
    ).then(res => res.json())
    return { mountains }
  }
}
</script>
