<template>
  <v-row>
    <v-col class="text-center">
      <counter :mountains-number="mountains.length" />
      <items-list :mountains="mountains" />
    </v-col>
  </v-row>
</template>

<script lang="ts">
import Vue from 'vue'
import { Component } from 'nuxt-property-decorator'
import Counter from '~/components/Counter.vue'
import ItemsList from '~/components/ItemsList.vue'

@Component<WithFooter>({
  components: {
    Counter,
    ItemsList
  },
  layout: 'WithFooter'
})
export default class WithFooter extends Vue {
  // Data attribute
  mountains: Array<any> = []

  async fetch () {
    this.mountains = await this.$apiClient.getMountains()
  }
}
</script>
